@model IEnumerable<ProjetoTesteRafa.Models.perfis_usuario>

@{
    ViewBag.Title = "Index";
}


<div class="container-fluid">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <h3 class="m-0">Perfis de Acesso Gerente</h3>
                </div>
                <div class="col-sm-6 text-right">
                    @Html.ActionLink("Criar Novo", "Create", "PerfilUsuarioGerente", null, new { @class = "btn btn-primary" })
                </div>
            </div> <!-- /.row -->
        </div> <!-- /.container-fluid -->
    </div>  <!-- /.content-header -->

    <div class="content">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="card mx-2">
                    @*<div class="card-header">
                            <div class="container-fluid">
                                <div class="row">

                                </div>
                            </div>
                        </div>*@
                    <div class="card-body table-responsive">
                        <table class="table-hover mx-auto table-geral" style="min-width: 770px;">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.usuario_gerente.uss_nome)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.usuario_gerente.uss_usuario)
                                    </th>
                                    <th style="width: 150px;">
                                        @Html.DisplayNameFor(model => model.usuario_gerente.uss_ativo)
                                    </th>
                                    <th style="width: 170px;"></th>
                                </tr>
                            </thead>

                            @foreach (var item in Model)
                            {
                                <tbody style="border-bottom: 5px solid #D6EAF8;">
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.usuario_gerente.uss_nome)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.usuario_gerente.uss_usuario)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.usuario_gerente.uss_ativo)
                                        </td>
                                        <td>
                                            @Html.ActionLink(" ", "Edit", new { id = item.pus_codigo }, new { @class = "btn btn-success  fas fa-edit", title = "Editar" })
                                            @Html.ActionLink(" ", "Details", new { id = item.pus_codigo }, new { @class = "btn btn-info fas fa-list", title = "Detalhes" })
                                            @*@Html.ActionLink(" ", "Delete", new { id = item.pus_codigo }, new { @class = "btn btn-danger fas fa-trash-alt", title = "Apagar" })*@
                                            <div class="tooltip">
                                                "teste"
                                                <span class="tooltiptext">Tooltip text</span>
                                            </div>
                                            @* @Html.ActionLink("Apagar", "Delete", new { id = item.cls_codigo })*@
                                        </td>
                                    </tr>
                                </tbody>
                            }
                        </table>
                    </div>
                </div> <!-- Criar Card -->
            </div> <!-- ./row -->
        </div> <!-- ./container -->
    </div> <!-- ./content -->
</div>

