@model ProjetoTesteRafa.Models.usuario_gerente
@{
    ViewBag.Title = "Cadastrar";
}

@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<style>

    html, body {
        margin: 0;
        padding: 0;
        height: 100%;
        max-height: 100%;
        min-width: 420px;
    }

    .login,
    .image {
        object-fit: cover;
        min-height: 92.5vh;
    }

    .bg-image {
        background-image: url("/Content/Images/gerenteLogo.jpg");
        /* background-image: url('https://res.cloudinary.com/mhmd/image/upload/v1555917661/art-colorful-contemporary-2047905_dxtao7.jpg');*/ /* imagem de teste */
        background-size: cover;
        background-position: center center;
    }
</style>



@using (Html.BeginForm("Registrar", "Manager", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="container-fluid">
        <div class="row no-gutter">
            <!-- A metade com a Imagem -->
            <div class="col-md-6 d-none d-md-flex bg-image"></div>

            <!-- A metade com o conteúdo -->
            <div class="col-md-6 bg-light">
                <div class="login d-flex align-items-center py-5">

                    <!-- Conteúdo-->
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-10 col-xl-7 mx-auto">
                                <h3 class="display-4">Cadastrar!</h3>
                                <p class="text-muted mb-4">Cadastre aqui o seu usuário.</p>

                                <!-- Começo do Form para entrar com os dados -->
                                <form>
                                    <div class="form-group mb-3">
                                        
                                        @* Com mensagem de texto de erro Cliente side*@
                                        @Html.TextBoxFor(m => m.uss_nome, new { @class = "form-control rounded-pill border-0 shadow-sm px-4", type = "text", placeholder = "Seu primeiro nome", required = "required", title = "Informe seu primeiro nome" })
                                        @Html.ValidationMessageFor(m => m.uss_nome, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group mb-3">
                                        @Html.TextBoxFor(m => m.uss_usuario, new { @class = "form-control rounded-pill border-0 shadow-sm px-4", type = "text", placeholder = "Nome de Usuário" })
                                        @Html.ValidationMessageFor(m => m.uss_usuario, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group mb-3">
                                        @Html.PasswordFor(m => m.uss_senha, new { @class = "form-control rounded-pill border-0 shadow-sm px-4", type = "password", placeholder = "Senha" })
                                        @Html.ValidationMessageFor(m => m.uss_senha, "", new { @class = "text-danger" })
                                    </div>
                                    
                                    <!-- Cria o campo de confirmação de senha e valida com o campo da senha -->
                                    <div class="form-group mb-3">
                                        <input data-val="true" data-val-equalto="A senha e a senha de confirmação não correspondem." data-val-equalto-other="*.uss_senha" 
                                               data-val-required="Informe a senha de confirmação" id="ConfirmPassword" name="ConfirmPassword" type="password" 
                                               class="form-control rounded-pill border-0 shadow-sm px-4" placeholder="Confirmar Senha" />
                                        <span class="field-validation-valid error text-danger" data-valmsg-for="ConfirmPassword" data-valmsg-replace="true"></span>
                                    </div>
                                    <!-- Termina aqui -->

                                    <div class="text-center d-flex justify-content-between mt-4">
                                        <input type="submit" value="Cadastrar" class="btn btn-primary btn-block text-uppercase mx-2 my-2 rounded-pill shadow-sm" />
                                        <br />
                                        @Html.ActionLink("Cancelar", "Login", null, new { @class = "btn btn-danger btn-block text-uppercase mx-2 my-2 rounded-pill shadow-sm" })
                                    </div>
                                </form><!-- End -->
                                <div>
                                    @ViewBag.error
                                </div>
                            </div>
                        </div>
                    </div><!-- End -->

                </div>
                <div class="text-center col-lg-10 col-xl-7 mx-auto text-muted mb-4">
                    <p>&copy; @DateTime.Now.Year - Teste Rafa</p>
                </div>
            </div><!-- End -->

        </div>
    </div>

}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @* Os 3 scripts abaixo são necessários para o campo de validação de senha via client side *@
    <script src="/Scripts/jquery-3.3.1.js"></script>
    <script src="/Scripts/jquery.validate.js"></script>
    <script src="/Scripts/jquery.validate.unobtrusive.js"></script>
}